.glry{
    overflow: hidden;
}

.glry-wrapper{
    display: flex;
    width: inherit;
    height: inherit;
}

.glry-slide{
    margin: auto;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glry-slide > img{
    max-width:100%;
    max-height: 100%;
    -webkit-user-drag: none;
}
