.glry{
    overflow: hidden;
}

.glry-wrapper{
    display: flex;
    width: inherit;
    height: inherit;
}

.glry-slide{
    margin: auto;
    width: 100%;
    flex-shrink: 0;
}

.glry-slide > img{
    width:100%;
}
